<div class="container-header">
    <img class="log" src="../../../../assets/log.png" alt="log-del-diseñador">
    <img class="user-img" src="../../../../assets/email.png" alt="imagen-del-perfil">
</div>
<div class="back">
    <mat-icon>keyboard_arrow_left</mat-icon>
    <p class="back-p"><a [routerLink]="['/user']" >Back</a></p>
</div>
<div class="container">
    <div class="container-2">
        <h2 class="perosonal-p">Change info</h2>
        <p class="personal-p-2">Change will be reflected to every services</p>
    </div>
    <div class="change-photo">
        <figure>
            <img class="img-profile" src="../../../../assets/email.png" alt="">
        </figure>
        <p><a>CHANGE PHOTO</a></p>
    </div>
    <div class="container-form">
        <form >
            <p>Name</p>
            <input placeholder="Enter your name..." type="text">
            <p>Bio</p>
            <textarea placeholder="Enter your bio..." cols="50" rows="5"></textarea>
            <p>Phone</p>
            <input placeholder="Enter your phone..." type="number">
            <p>Email</p>
            <input placeholder="Enter your email..." type="email">
            <p>Password</p>
            <input placeholder="Enter your new password..." type="password"><br>
            <button type="submit">Save</button>
        </form>
    </div>
</div>