.log{
    width: 100px;
    height: 12.66px;
    margin: 14px 4px;
}
.user-img{
    width: 32px;
    height: 36.69px;
}
.container-header{
    display: flex;
    justify-content: space-between;
    background-color:white;
}
.back{
    display: flex;
    margin-left: 10px;
    color: #2d9cdb;
}
a{
    color: #2d9cdb;
    text-decoration: none;
}
.back-p{
    margin-top: 3px;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: #fafafb;
    height: auto;
    margin-top: -12px;
}
.container-2{
    width: auto;
    text-align: center;
    margin-top: -1.15px;
    background-color: #fafafb;
    padding-top: 25px;
}
.perosonal-p{
    font-family: 'Noto Sans';
    font-weight: 400;
    color: black;
}
.perosonal-p-2{
    font-family: 'Noto Sans';
    font-weight: 300;
    color: black;
    padding-bottom: 0px 0px 0px;
}
.img-profile{
    width: 72px;
    height: 72px;
    border-radius: 8px;
}
.change-photo{
    display: flex;
    align-items: center;
}
div > form > p {
    font-family: 'Noto Sans';
    font-weight:500 ;
    color: #4f4f4f;
    margin: 24px 0px 0px 8.64px;
    margin-left: 20.93px;
}
div > form > input, textarea{
    border-radius: 12px;
    border: 1px solid #828282;
    background-color: transparent;
    height: 52px;
    width: 250px;
    padding-left: 18.21px;
    margin-left: 20.93px;
}
div > form > input, textarea:focus{
    outline: none;
}
::placeholder{
    font-family: 'Noto Sans';
}
button{
    background-color: #2f80ed;
    border-radius: 8px;
    width: 82px;
    height: 38px;
    border: none;
    color: #ffffff;
    font-family: 'Noto Sans';
    margin: 24px 0 0 20.93px;
}
textarea{
    padding: 17px 0 5px 18.21px;
}
@media(min-width: 600px){
    .container{
        border: 1px solid #e0e0e0;
        border-radius: 12px;
        margin: 0 auto;
        width: 600px;
        height: auto;
    }
    .container-2{
        text-align: left;
        padding-left: 48.64px;
        margin-top: 10px;
    }
    div > form > p, button {
        margin-left: 48.64px;
    }
    div > form > input, textarea{
        width: 416.93px;
        margin-left: 48.64px;
    }
    .back{
        width: 600px;
        margin: 0 auto;
    }
}