:root{
    --backblack : #333333;
    --backwhite : #fafafb;
    --blue : #2F80ED;
    --blueLogin: #2f9ddb;
}
.log{
    width: 100px;
}
 .container{
    display: flex;
    flex-direction: column;
    background-color: #fafafb;
    padding-top: 60px;
    box-sizing: border-box;
    height: 100%;
}
.one-p{
    size: 18px;
    line-height: 24.52px;
    font-weight: 600;
    color: #333333;
    font-family: 'Noto Sans', 'sans-serif';
    width: auto;
    padding-left: 18px;
}
.two-p{
    size: 18px;
    line-height: 24.52px;
    font-family: 'Noto Sans', 'sans-serif';
    margin-top: 14.5px;
    width: auto;
    padding-left: 18px;
    font-weight: 400;
    color: #333333;
}

.input{
    border:1px solid #bdbdbd;
    border-radius: 8px;
	padding: 4px;
	height: 48px;
	width: auto;
    margin-top: 14.5px;
    margin-left: 14px;
    margin-right: 14px;
}
.email, .password{
    border: 0px;
	width: 240px;
	position: relative;
	background: transparent;
	outline: none;
	bottom: 4px;
	padding: 5px 0px 0px 8px;
    top: 10px;
}
.email-icon, .password-icon{
    width: 20px;
	border: 0px;
	position: relative;
	top:13px;
    padding-left: 14px;
}
button{
    border-radius: 8px;
    margin-top: 16px;
    height: 38px;
    width: 91.5%;
    border: none;
    background: #2F80ED;
    font-family: 'Noto Sans';
    color: #FFFFFF;
    margin-left: 14px;
    margin-right: 14px;
}
.social-p{
    margin-top: 31.45px;
    margin-bottom: 22.51px;
    text-align: center;
    font-family: 'Noto Sans', 'sans-serif';
    font-size: 14px;
    font-weight: 400;
    color: #828282;
}
.social-profile{
    display: flex;
    justify-content: space-between;
    width: 90%;

}
a{
    width: 72px;
}
.member-p{
    width: auto;
    text-align: center;
    font-family: 'Noto Sans', 'sans-serif';
    font-size: 14px;
    font-weight: 400;
    margin-top: 27.07px;
    color: #828282;
}
.log{
    margin-left: 1px;
    color: #2f9ddb;
}

@media(min-width: 600px){
    .container{
        width: 473.83px;
        height: 560.08px;
        border: 1px solid #bdbdbd;
        margin: 0 auto;
        border-radius: 24px;
    }
} 